.section{
  padding: 100px 0;
}

.unstyle-list {
  list-style-type: none;
  padding-left: 0;
  margin-right: 0;
}

mark {
  background-color: #1b2031;
  color: white;
}

mark:hover {
  background-color: #5d78ff;
  color: white;
}

:root {
  --microtip-transition-duration: 0.18s;
  --microtip-transition-delay: 0s;
  --microtip-transition-easing: ease-out;
  --microtip-font-size: 20px;
  --microtip-font-weight: normal;
  --microtip-text-transform: none;
}

::selection {
  background: rgba(238, 130, 238, 0.404);
  color: #4154b4;
  font-weight: bold;
  text-decoration: underline;
}

::-moz-selection {
  background: violet;
  color: white;
}