.base-font {
    font-family: $font-family-base;
}

* {
    transition: all 0.3s ease;
}

a.text-light,
a.text-dark {
    // transition: all 0.3s ease;
    &:hover {
        color: $primary !important;
    }
}

.top-title {
    font-size: 20px;
    display: block;
    color: $dark;
    @extend .mb-3;
}

.pre-line {
    margin-left: 20px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 20px;
        top: 50%;
        left: -20px;
        transform: translateX(-50%);
        background: $secondary;
    }
}

// This fixes the fact that with `markdownify` we can't add `text-light`
// directly onto the generated `h1`, `h2` etc.
.text-white {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }
}
@each $color, $value in $theme-colors {
    .text-#{$color} {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span {
            color: $value;
        }
    }
}

.werk {
    width: 15%;
    position: absolute;
    left: 75%;
}

@font-face {
    font-family: 'Cervanttis';
    src: url('../fonts/CervanttisRegular.woff2') format('woff2'),
        url('../fonts/CervanttisRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-BlackItalic.woff2') format('woff2'),
        url('../fonts/BogartTrial-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Black.woff2') format('woff2'),
        url('../fonts/BogartTrial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-BoldItalic.woff2') format('woff2'),
        url('../fonts/BogartTrial-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/BogartTrial-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Bold.woff2') format('woff2'),
        url('../fonts/BogartTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-ExtralightItalic.woff2') format('woff2'),
        url('../fonts/BogartTrial-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Extralight.woff2') format('woff2'),
        url('../fonts/BogartTrial-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Italic.woff2') format('woff2'),
        url('../fonts/BogartTrial-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Extrabold.woff2') format('woff2'),
        url('../fonts/BogartTrial-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Light.woff2') format('woff2'),
        url('../fonts/BogartTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-LightItalic.woff2') format('woff2'),
        url('../fonts/BogartTrial-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-MediumItalic.woff2') format('woff2'),
        url('../fonts/BogartTrial-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/BogartTrial-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Medium.woff2') format('woff2'),
        url('../fonts/BogartTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Regular.woff2') format('woff2'),
        url('../fonts/BogartTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-ThinItalic.woff2') format('woff2'),
        url('../fonts/BogartTrial-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Thin.woff2') format('woff2'),
        url('../fonts/BogartTrial-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/BogartTrial-Semibold.woff2') format('woff2'),
        url('../fonts/BogartTrial-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-BlackItalic.woff2') format('woff2'),
        url('../fonts/Biotif-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-Bold.woff2') format('woff2'),
        url('../fonts/Biotif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-BoldItalic.woff2') format('woff2'),
        url('../fonts/Biotif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-Black.woff2') format('woff2'),
        url('../fonts/Biotif-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-Book.woff2') format('woff2'),
        url('../fonts/Biotif-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Biotif-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-BookItalic.woff2') format('woff2'),
        url('../fonts/Biotif-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-ExtraBold.woff2') format('woff2'),
        url('../fonts/Biotif-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-Light.woff2') format('woff2'),
        url('../fonts/Biotif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-RegularItalic.woff2') format('woff2'),
        url('../fonts/Biotif-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-Medium.woff2') format('woff2'),
        url('../fonts/Biotif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-MediumItalic.woff2') format('woff2'),
        url('../fonts/Biotif-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-Regular.woff2') format('woff2'),
        url('../fonts/Biotif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-LightItalic.woff2') format('woff2'),
        url('../fonts/Biotif-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-SemiBold.woff2') format('woff2'),
        url('../fonts/Biotif-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Biotif-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
