.hero {
  padding: 250px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    padding: 150px 0 30px 0;
  }

  &_background-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 65%;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &_footer-svg {
    position: absolute;
    bottom: 20px;
    left: -100px;
    animation: move_top 5s infinite linear;
    @include desktop {
      display: none;
    }
  }
  &_content {
    padding: 0 20px 0 0;
    position: relative;
    @include desktop {
      text-align: center;
      margin-bottom: 60px;
    }
    .hero_blob {
      position: absolute;
      z-index: -1;
      top: -45%;
      left: -45%;
      height: 440px;
      width: 440px;
      svg {
        width: 100%;
        position: relative;
      }
      @include desktop {
        display: none;
      }
    }
    span {
      font-size: 35px;
      position: relative;
      margin: 0 0 0 0;
      color: #343a40 !important;
      @include desktop {
        display: inline-block;
      }
    }
    p {
      font-size: $font-size-lg;
      color: #343a40 !important;
      font-size: 35px;
    }
  }
  &_figure {
    width: 90%;
    margin-left: auto;
    border-radius: 20px;
    position: relative;
    @include desktop {
      width: 100%;
    }
    .figure-svg {
      position: absolute;
      top: -55px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1;
      height: 150px;
      animation: move_left 5s infinite linear;
      img {
        height: 100%;
        width: 100%;
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
    &-popup {
      position: absolute;
      bottom: -100px;
      left: 0;
      transform: translateX(-50%);
      transition: all 0.3s ease;
      @include desktop {
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
      }
      .thumb {
        border: 1px solid #707070;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        width: 17.5em;
        height: 13em;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .thumb:hover + .popup-button{
        opacity: 1;
      }
      .popup-button:hover {
        opacity: 1;
      }
      .popup-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60px;
        width: 60px;
        background: $primary;
        border-radius: 50%;
        z-index: 2;
        transition: all 0.3s ease;
        opacity: 0;
        svg {
          position: absolute;
          top: 50%;
          left: 55%;
          transform: translate(-50%, -50%);
          transition: all 0.3s ease;

          path {
            fill: #ffffff;
          }
        }
        &:hover {
          background-color: #2a4eff;
          svg {
            path {
              fill: #ffffff;
            }
          }
        }
      }
      &:hover {
        .popup-button {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
}

.hero-top-title {
  font-family: 'Bogart';
  font-weight: 500;
  font-style: normal;
  font-size: 4.1em;
  letter-spacing: -1px;
  line-height: 110%;
  display: block;
  color: $dark;
  @extend .mb-3;
}

.hero-bottom-title {
  font-size: .75em;
}

@keyframes move_left {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-57%);
  }
}

@keyframes move_top {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.chinese:hover:before {
  opacity: 1; transform: translate(0,0);
}

.chinese:before {
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.chinese:hover div {
  opacity: 0; transform: translate(100%,0)
}

.chinese {
  transition: all .3s ease-in-out;
}

.waving:hover:before {
  opacity: 1; transform: translate(0,0);
}

.waving:before {
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.waving:hover div {
  opacity: 0; transform: translate(-100%,0)
}

.waving {
  transition: all .3s ease-in-out;
}

.waving:hover {
  animation-name: wave-animation;
  animation-duration: 3.0s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block !important;
}

@keyframes wave-animation {
  0% {
      transform: rotate( 0.0deg)
  }
  10% {
      transform: rotate(14.0deg)
  }
  20% {
      transform: rotate(-8.0deg)
  }
  30% {
      transform: rotate(14.0deg)
  }
  40% {
      transform: rotate(-4.0deg)
  }
  50% {
      transform: rotate(10.0deg)
  }
  60% {
      transform: rotate( 0.0deg)
  }
  100% {
      transform: rotate( 0.0deg)
  }
}

@media screen and (max-width: 463px) {
  .hero-top-title {
    font-size: 2.5em;
  }
  .hero-bottom-title {
    font-size: .5em;
  }
  .waving:hover:before {
    opacity: 1; transform: translate(-75%,0);
  }
  .chinese:hover:before {
    opacity: 1; transform: translate(-50%,0);
  }
  .hero_figure-popup {
    transform: scale(0.7);
    left: 0px;
    bottom: -100px;
  }
}

// .area {
//   background:#fff;
//   display:block;
//   height:475px;
//   opacity:0;
//   position:absolute;
//   width:320px;
//   z-index: 50;
// }
// #area2 {
//   left:320px;
// }
// #area1:hover, #area2:hover {
//   opacity:.5;
// }
