.section {
    @include desktop {
        padding: 50px 0;
    }
    .svg-img {
        position: absolute;
        top: 30%;
        left: -7%;
        animation: move_top 5s infinite linear;
        @include desktop {
            display: none;
        }
    }
    .animate-shape {
        position: absolute;
        top: 29%;
        right: 4%;
        height: 300px;
        width: 300px;
        svg {
            width: 100%;
        }
        @include desktop {
            display: none;
        }
    }
    .animate-pattern {
        position: absolute;
        top: 46%;
        right: 12%;
        height: 100px;
        width: 100px;
        animation: move_top 3s infinite linear;
        img {
            height: 100%;
            width: 100%;
        }
        @include desktop {
            display: none;
        }
    }
    .singleBlog {
        &__feature {
            margin: 0 100px;
            @include desktop {
                margin: 0;
            }
            img {
                height: 20em;
                width: 20em;
                display: block;
                margin-left: auto;
                margin-right: auto;
                object-fit: contain;
                border-radius: 20px;
            }
        }
        &__content {
            margin: 0 200px 0 200px;
            @include desktop {
                margin: 0;
            }
            .blog-section {
                margin-bottom: 60px;
                img {
                    float: right;
                    mask: url("../images/hero/hero-mask-svg.png");
                    -webkit-mask-repeat: no-repeat;
                    -webkit-mask-size: contain;
                    -webkit-mask-position: center center;
                    @include tablet {
                        width: 100%;
                        float: none;
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}

img[alt="Image"] {
    max-width:  20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 445px) and (max-width: 2560px) {
    img[alt="Image"] {
        max-width:  50em !important;
    }

    .section {
        .singleBlog {
            &__feature {
                img {
                    width: 30em !important;
                }
            }
        }
    }
}

.blog-by {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 1em;
    margin-left: 10em;
    margin-right: 10em;
    background: #1b2031;
    border-radius: 20px;
    position: relative;
}

#thanks-for-reading-pic {
    float: left;
    width: 50%;
}

#thanks-for-reading-content {
    float: right;
}

@media screen and (min-width: 320px) and (max-width: 1024px){
    .blog-by {
        margin-left: 1em;
        margin-right: 1em;
    }
}