<head>
    <style>
        .advert-inline {
            margin: 6rem 0 4rem 0;
            padding: 1rem 0 1rem;
            border-top: dotted 4px #ddd;
            border-bottom: dotted 4px #ddd;
        }
    </style>
</head>

<div class="advert-inline">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8838706728408201"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
        data-ad-format="fluid" data-ad-client="ca-pub-8838706728408201" data-ad-slot="1162167181"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
