<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="index, follow" />
  <title>{{ .Title }}</title>
  <meta name="description" content="Blog and portfolio of Anthony Dellavecchia, a Software Engineer and tech enthusiast">
  <meta name="author" content="Anthony Dellavecchia" />
  <meta name="keywords"
    content="Anthony Dellavecchia anthonyjdella software engineer developer full-stack backend back-end frontend front-end designer UX UI product software app web creative portfolio">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />
  <meta property="og:type" content="software" />
  <meta property="og:title" content="Anthony Dellavecchia the Software Engineer" />
  <meta property="og:description" content="Blog and portfolio of Anthony Dellavecchia, a Software Engineer and tech enthusiast" />
  <meta property="og:url" content="https://www.anthonydellavecchia.com" />
  <meta property="og:site_name" content="anthonyjdella" />
  <meta name="twitter:title" content="Anthony Dellavecchia the Software Engineer">
  <meta name="twitter:description" content="Blog and portfolio of Anthony Dellavecchia, a Software Engineer and tech enthusiast">
  <meta name="twitter:site" content="@anthonyjdella">
  <meta name="twitter:creator" content="@anthonyjdella">
  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  {{ "<!-- Slick Carousel -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/slick/slick.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/slick/slick-theme.css" | absURL }}" />
  {{ "<!-- Font Awesome -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/font-awesome/css/font-awesome.min.css" | absURL }}" />

  {{ "<!-- Magnific Popup -->" | safeHTML }}
  <link rel="stylesheet" href="{{"plugins/magnafic-popup/magnific-popup.css" | absURL }}" />

  {{ "<!-- Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />

  <link rel="canonical" href="https://www.anthonydellavecchia.com/">

  <link rel="preload" href="{{ "fonts/BogartTrial-Regular.woff2" | absURL }}" type="font/woff2" as="font"
    crossorigin="anonymous">

  <link rel="preload" href="{{ "fonts/CervanttisRegular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>

  <link rel="preload" href="{{ "fonts/Biotif-Regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/avatar.png" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/contact/avatar.png" | absURL }}" type="image/x-icon" />
  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"> </script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
  {{ $darkmode := resources.Get "js/darkmode.js" | minify }}
  <script src="{{ $darkmode.Permalink }}"></script>
  {{ $darktoggle := resources.Get "js/darktoggle.js" | minify }}
  <script src="{{ $darktoggle.Permalink }}"></script>
  {{ end }}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8838706728408201"
    crossorigin="anonymous"></script>
</head>