<div class="meny">
    <strong>Social Media</strong>
    <ul class="fa-ul">
        <li><a href="https://twitter.com/anthonyjdella" target="_blank">Twitter</a></li>
        <li><a href="https://tiktok.com/@anthonyjdella" target="_blank">TikTok</a></li>
        <li><a href="https://www.instagram.com/anthonyjdella/" target="_blank">Instagram</a></li>
        <li><a href="https://www.linkedin.com/in/anthonydellavecchia/" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.polywork.com/anthonyjdella" target="_blank">Polywork</a></li>
    </ul>

    <strong>Software & Coding</strong>
    <ul class="fa-ul">
        <li><a href="https://github.com/anthonyjdella" target="_blank">GitHub</a></li>
        <li><a href="https://npmjs.com/~anthonyjdella" target="_blank">NPM</a></li>
        <li><a href="https://dev.to/anthonyjdella" target="_blank">Dev.To</a></li>
        <li><a href="https://anthonyjdella.hashnode.dev/" target="_blank">HashNode</a></li>
        <li><a href="https://medium.com/@anthonyjdella" target="_blank">Medium</a></li>
        <li><a href="https://stackoverflow.com/users/story/9465781" target="_blank">Stack Overflow</a></li>
        <!-- <li><a href="https://leetcode.com/anthonyjdella/" target="_blank">Leetcode</a></li> -->
        <!-- <li><a href="https://codepen.io/anthonyjdella" target="_blank">CodePen</a></li> -->
    </ul>

    <strong>Art & Design</strong>
    <ul class="fa-ul">
        <li><a href="https://www.behance.net/anthonyjdella" target="_blank">Behance</a></li>
        <li><a href="https://dribbble.com/anthonyjdella" target="_blank">Dribbble</a></li>
        <li><a href="https://www.instagram.com/anthonyjdella.photo/" target="_blank">Photography</a></li>
    </ul>

    <strong>Schedule A Meeting</strong>
    <ul class="fa-ul">
        <li><a href="https://calendly.com/anthonyjdella" target="_blank">Calendly</a></li>
        <li><a href="mailto:hireme@anthonydellavecchia.com?subject=I Want to Hire Anthony!&body=Hey Anthony, I really like your website and would love to hire you." target="_blank">Email</a></li>
    </ul>

    <strong>Send A Message</strong>
    <ul class="fa-ul">
        <li><a href="https://zipmessage.com/xj8msjzr" target="_blank">Zip Message</a></li>
    </ul>

    <strong>Support Me</strong>
    <ul class="fa-ul">
        <li><a href="https://github.com/sponsors/anthonyjdella" target="_blank">Sponsor Me</a></li>
        <li><a href="https://www.buymeacoffee.com/anthonyjdella" target="_blank">Buy me a Coffee</a></li>
    </ul>

    <strong>Emergency Only</strong>
    <ul class="fa-ul">
        <li><a href="sms:9402421288;?&body=Hey%20Anthony%20I%20am%20interested%20in%20hiring%20you.%20Please%20contact%20me."
                target="_blank">Text Me</a></li>
        <li><a href="tel:9402421288" target="_blank">Call Me</a></li>
    </ul>
</div>
<div class="meny-arrow"></div>