<nav class="navbar navbar-expand-lg fixed-top" id="hideNavBar">
  <div class="container">
    <a id="purple-cursor" href="{{ .Site.BaseURL }}/" class="navbar-brand scroll">
      <img class="poke" src="{{ .Site.Params.logo | absURL }}" alt="site-logo">
      <img class="bubble" src="{{ .Site.Params.bubbleImg | absURL }}" alt="bubble">
      <div class="hello-there"> Hello! </div>
    </a>
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="nav navbar-nav main-navigation my-0 mx-auto" style="text-align: center;">
        {{ $menu := .Site.Menus.main }}
        {{ range $index, $element := $menu }}
        <li class="nav-item">
          <a id="purple-cursor" href="{{ $.Site.BaseURL }}{{ .URL }}"
            class="nav-link text-dark text-sm-center p-2 {{ if $.IsHome }}scroll{{ end }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <style id="i-hate-this"></style>
      <div id="mobile-dark-toggle" style="vertical-align: middle;">
      <label id="purple-cursor" style="margin-bottom: 0px !important; vertical-align: middle;">
        <input class='toggle-checkbox' type='checkbox' onclick="darkToggleButton();"></input>
        <div class='toggle-slot'>
          <div class='sun-icon-wrapper'>
            <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
          </div>
          <div class='toggle-button'></div>
          <div class='moon-icon-wrapper'>
            <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
          </div>
        </div>
      </label>
    </div>
    </div>
  </div>
</nav>