{{ with .Site.Data.slideDeckSection }}
{{ if .enable }}
<section class="section slide" id="slide">
    <div class="slide__background">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="slide__header mb-5">
                    <span class="top-title">{{ .topTitle }}</span>
                    {{ .title | markdownify }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slide__slider">
                    {{ $Section := .slide }}
                    {{ range $Section }}
                    <div class="slide__slider_item">
                        <div class="mt-2">
                            {{ .content | markdownify }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}