{{ with .Site.Data.slideDeckSection }}
{{ if .enable }}
<section class="section testimonial">
    <div class="testimonial__background_shape">
        <svg viewBox="0 0 1920 79">
            <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
        </svg>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <div class="testimonial__header">
                    <span class="top-title">{{ .topTitle }}</span>
                    {{ .title | markdownify }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial__slider">
                    {{ $section := .testimonial }}
                    {{ range $section }}
                    <div class="testimonial__slider_item">
                            <div class="icon" style="transform: scale(1);">
                                <img src=" {{ .image | absURL }} " alt="ui-ux">
                            </div>
                        <p class="testimonial__slider_item-content"> {{ .description | markdownify }} </p>
                        <p class="testimonial__slider_item-author"><span class="author-name"><a href="https://noti.st/anthonyjdella">{{ .link }}</span></a> {{ .site }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}