{{ with .Site.Data.talksSection }}
{{ if .enable }}
<section class="section resume" id="resume" style="padding: 0px !important; padding-top: 50px !important;">
    <div class="animate-shape" style="bottom: 6% !important; right: 2% !important;">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
			<defs>
				<linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
					<stop offset="0" stop-color="#f1f6f9" />
					<stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
				</linearGradient>
			</defs>
			<g data-name="blob-shape (3)">
				<path class="blob" fill="url(#d)"
					d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
			</g>
		</svg>
	</div>
	<div class="animate-pattern" style="bottom: -90% !important;">
		<img src={{"images/service/background-pattern.svg" | absURL }} alt="background-shape">
	</div>
	<div class="service__background_shape">
		<svg viewBox="0 0 550 550">
			<defs>
				<linearGradient id="b" x1="0.209" y1="0.085" x2="1.071" y2="1.164" gradientUnits="objectBoundingBox">
					<stop offset="0" stop-color="#f1f6f9" />
					<stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
				</linearGradient>
			</defs>
			<g data-name="blob-shape (3)">
				<path class="blob" fill="url(#b)"
					d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
			</g>
		</svg>
	</div>

	<div class="service__background_pattern">
		<img src="../images/service/background-pattern.svg" alt="background-pattern">
	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <!-- <div class="text-dark"> -->
                        <span class="top-title">{{ .topTitle }}</span>
                        {{ .title | markdownify }}
                    <!-- </div> -->

                    <div class="btn-group nav mt-5">
                        <a id="purple-cursor" href="#{{.tab1Target}}" class="btn btn-primary active" data-toggle="tab">{{ .tab1Name }}</a>
                        <a id="purple-cursor" href="#{{.tab2Target}}" class="btn btn-primary" data-toggle="tab">{{ .tab2Name }}</a>
                        <a id="purple-cursor" href="#{{.tab3Target}}" class="btn btn-primary" data-toggle="tab">{{ .tab3Name }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content ">
                    <div class="resume__education tab-pane active" id="{{.tab1Target}}">
                        {{ $Section := .talks }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line"> {{ .time }} </span>
                            <img class="werk" src="{{ .image | absURL }}" alt="skill-img">
                            <div class="resume-tile">{{ .content | markdownify }}</div>
                        </div>
                        {{ end }}
                    </div>

                    <div class="resume__education tab-pane" id="{{.tab2Target}}">
                        {{ $Section := .workshop }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line"> {{ .time }} </span>
                            <img class="werk" src="{{ .image | absURL }}" alt="skill-img">
                            {{ .content | markdownify }}
                            <br>
                        </div>
                        {{ end }}
                    </div>

                    <div class="resume__education tab-pane" id="{{.tab3Target}}">
                        {{ $Section := .conferences }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line"> {{ .time }} </span>
                            <img class="werk" src="{{ .image | absURL }}" alt="skill-img">
                            {{ .content | markdownify }}
                            <br>
                        </div>
                        {{ end }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}