{{ with .Site.Data.videoSection }}
{{ if .enable }}
<section class="section service" id="service">
    <div class="service__background">
        <svg viewBox="0 0 1283 1126">
            <path fill="#f1f6f9" d="M100 0h1183v1126l-1183-80A100 100 0 010 946V100A100 100 0 01100 0z"
                data-name="Path 1369" />
        </svg>
    </div>
    <div class="service__background_shape">
        <svg viewBox="0 0 550 550">
            <defs>
                <linearGradient id="b" x1="0.209" y1="0.085" x2="1.071" y2="1.164" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#f1f6f9" />
                    <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
                </linearGradient>
            </defs>
            <g data-name="blob-shape (3)">
                <path class="blob" fill="url(#b)"
                    d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
            </g>
        </svg>
    </div>

    <div class="service__background_pattern">
        <img src="../images/service/background-pattern.svg" alt="background-pattern">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="service__header mb-5">
                    <span class="top-title pre-line">{{ .topTitle }}</span>
                    {{ .title | markdownify }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="service__slider">
                    {{ $Section := .video }}
                    {{ range $Section }}
                    <div class="service__slider_item">
                        <div class="service__slider_item-icon">
                            <div class="icon" style="transform: scale(0.25); bottom: -10em !important; left: -3em !important;">
                                <img src=" {{ .image | absURL }} " alt="ui-ux">
                            </div>
                        </div>
                        <div class="mt-5">
                            {{ .content | markdownify }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}