{{ define "main" }}

{{ partial "hero.html" . }}

{{ partial "portfolioSection.html" . }}

{{ partial "blogSection.html" . }}

{{ partial "footer.html" . }}

<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        localStorage.setItem("toggleCount", '0');
        console.log('home count: ' + parseInt(localStorage.getItem("toggleCount")))

		if (parseInt(localStorage.getItem("toggleCount")) % 2 == 1) {
			darkToggleButtonNoIncrement();
		}
		else {
			darkToggleButtonNoIncrement();
        }
    });
</script>

{{ end }}